<div class="container">
  <div class="wrapper col-md-5 col-md-offset-4 col-sm-10 devise_area">
    <h2>利用者モデル選択画面</h2>
    <%= alert %>

    <%= form_for(@user, method:'put') do |f| %>
      <div class="field radio_field">
        <br><p>利用するモデル※を選んでください。</p>
        <div class="radio-inline">
          <label><%= f.radio_button :organizer_flg, false %><%= f.label :organizer_flg, "アーティスト",value: false %></label>
        </div>
        <div class="radio-inline">
          <label><%= f.radio_button :organizer_flg, true %><%= f.label :organizer_flg, "主催者", value: true %></label>
        </div>
      </div>

      <div class="actions">
        <br><%= f.submit "登録", class: "btn btn-primary btn-block" %>
      </div>

    <% end %>

    <br>
    <div class="caution_area">
      <p>※1 登録後、モデルを変更することはできません。</p>
      <p>※2 登録モデルによって実行できる操作に違いがあります。</p>
      <p>　 ・アーティストモデルでは、イベントを投稿できません。</p>
      <p>　 ・主催者モデルでは、イベント参加ができません。</p>
    </div>

  </div>
</div>
