<div class="search_result_list">
  <h2>検索結果一覧</h2>
    <% if @results.blank? %>
      <div class="none_result">
        <h2>該当するイベントが見つかりませんでした</h2>
      </div>
    <% else %>
      <% @results.each do |event| %>
        <div class="event_menu clearfix">
          <%= link_to event_path(event) do %>
            <strong><%= event.title %></strong><br>
          <% end %>
          <%= event.date %><br>
          <%= photo_img(event) %>
          <% if event.content.length > 500  %>
            <%= event.content.truncate(535) %>
            <%= link_to "詳細を表示", event_path(event) %><br>
          <% else %>
            <%= event.content %>
          <% end %>
          <div class="content_btn">
            <% if user_signed_in? && current_user.organizer_flg? %>
              <%= link_to "選択", {action: 'privilege', event_id:event.id, artist_id:@artist.id},  class: 'btn btn-default btn-sm btn-success' %>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= render partial: 'events/paginate_form', locals: { id: 'event' }  %>
    <% end %>
</div>
